.buttonReact {
    position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #44addd;
  transition: all 0.2s ease;
}

.buttonReact:active {
  transform: scale(0.96);
}

.buttonReact:hover {
    background-color: #286e8f;
}

.buttonReact:before,
.buttonReact:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
