

@keyframes pulse {
	0% {
		background-position: 0%
	}
	20% {
		background-position: 100%
	}
}
.loading-group {
  width: 180px;
  margin-bottom: 24px;
}
.loading-header {
  height: 12px;
  width: 60px;
  background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
  background-size: 400% 100%;
  animation: pulse 2s infinite;
  margin-bottom: 11px;
}

.loading {
  height: 12px;
  background: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.05));
  background-size: 400% 100%;
  animation: pulse 2s ease .1s infinite;
  margin-bottom: 11px;
}

.loading:nth-of-type(2n) {
    width: 130px;
  }