.Modal-Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Modal-Content {
  background-color: white;
  width: 120vw;
  max-width: 800px;
  max-height: 100vh;
  padding: 2rem;
  border-radius: 8px;
  overflow-y: auto;
  z-index: 1001;
}
